<template>
  <table>
    <tr>
      <th
        v-for="(tableHeader, index) of tableHeaders"
        :key="index"
      >
        {{ tableHeader }}
      </th>
    </tr>
  </table>
</template>

<script>
export default {
  name: 'ManufacturingProgramTable',
  data: () => ({
    tableHeaders: [
      '', '', 'Филиал', 'Заказчик',
      'Буровая установка', 'Янв',
      'Фев', 'Мар', 'Апр', 'Июн',
      'Июл', 'Авг', 'Сен', 'Окт',
      'Ноя', 'Дек', 'Итого'
    ]
  })
}
</script>
