<template>
  <div id="app">
    <manufacturing-program-table />
  </div>
</template>

<script>
import ManufacturingProgramTable from './components/ManufacturingProgramTable/ManufacturingProgramTable'
export default {
  name: 'App',
  components: { ManufacturingProgramTable },
}
</script>

<style>
#app {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}
</style>
